
*{
    font-family: Verdana, sans-serif;
}
.App {
    /*!*background-image: url("img/Avengers_Endgame_Banner.webp");*!*/
    /*width: 100vw;*/
    height: 100%;
    background-image: url("img/fern-leaves-on-dark-background-in-jungle-dense-dark-green-fern-leaves-in-garden-at-night-nature-abstract-background-fern-at-tropical-forest-exotic-plant_33867-774.jpg");
    /*background: black;*/
    margin: 0 ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
